footer.footer
  .footer__container.container 
    .footer__main
      .footer__column 
        a.footer__link(href="#") info@mediation-rspp.ru
        a.footer__link(href="#") +7 (495) 000 00 00
      .footer__column 
        a.footer__link(href="#") правила пользования
        a.footer__link(href="#") договор оферты
      .footer__column 
        a.footer__link(href="#") политика конфиденциальности
      
      .footer__copyright Центр Медиации при РСПП ©2021     Все права защищены. Использование материалов с сайта возможно только с согласия правообладателей
    +socials(['Instagram', 'Facebook', 'Youtube'], 'footer__socials')
