.about-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 68px 52px;
  border: 3px solid $persianGreen;

  @include max(lg) {
    padding: 40px 50px;
  }

  @include max(sm) {
    padding: 25px 30px;
  }

  h2 {
    & + p {
      margin-top: 8px;
    }

    & + ul {
      margin-top: 8px;
    }
  }

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: (32 / 18);

    @include max(md) {
      font-size: 14px;
    }

    b {
      font-weight: 600;
    }
  }

  &__arrow-link {
    margin-top: 28px;
    color: #009a9d !important;

    @include max(md) {
      font-size: 16px;
    }

    svg {
      @include max(md) {
        width: 130px;
        height: 12px;
      }
    }
  }

  ul {
    font-size: 18px;
    line-height: (32 / 18);
    list-style: none;
    padding: 0 !important;
    margin: 8px 0 0 !important;

    @include max(md) {
      font-size: 14px;
    }

    li {
      padding-left: 28px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 12px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $dark;
      }
    }
  }
}
