.application {
  $self: &;
  padding: 45px 0;

  background-color: $grey;

  &__container {
  }

  &__section {
    & + & {
      margin-top: 82px;

      @include max(sm) {
        margin-top: 50px;
      }
    }

    &--mt {
      & + & {
        margin-top: 52px;
  
        @include max(sm) {
          margin-top: 30px;
        }
      }
    }
  }

  &__title {
    margin-bottom: 24px;

    &--inside-row {
      margin-top: 36px;
      margin-left: 30px;

      @include  max(md) {
        margin-left: 15px;
        margin-top: 20px;
      }

      @include max(sm) {
        margin-left: 0;
      }
    }

    @include max(sm) {
      margin-bottom: 12px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    margin-left: -30px;
    margin-top: -16px;

    &--grid {
      @include max(md) {
        flex-direction: column;
      }
    }

    &-left {
      width: 100%;
      max-width: calc(33.33%);
      display: flex;

      @include max(md) {
        max-width: 50%;
      }

      @include max(sm) {
        max-width: 100%;
      }
    }

    &-right {
      width: 100%;
      max-width: calc(66.66%);
      display: flex;
      flex-wrap: wrap;

      @include max(md) {
        max-width: 100%;
      }
    }

    @include max(md) {
      margin-left: -15px;
    }

    @include max(sm) {
      margin-left: 0;
    }

    & + & {
      margin-top: 0;
    }
  }

  &__group {
    margin-top: 50px;

    @include max(sm) {
      margin-top: 35px;
    }

    #{$self}__row {
      margin-top: 0;
    }

    &--mt {
      margin-top: -16px;
    }
  }

  &__field {
    width: 100%;
    margin-left: 30px;
    margin-top: 16px;

    @include max(md) {
      margin-left: 15px;
    }

    @include max(sm) {
      margin-left: 0;
    }

    &--size-two-thirds {
      max-width: calc(66.66% - 30px);

      @include max(md) {
        max-width: none;
      }
    }

    &--size-half {
      max-width: calc(50% - 30px);

      @include max(md) {
        max-width: calc(50% - 15px);
      }

      @include max(sm) {
        max-width: none;
      }
    }

    &--size-third {
      max-width: calc(33.33% - 30px);

      @include max(md) {
        max-width: calc(50% - 15px);
      }

      @include max(sm) {
        max-width: none;
      }
    }

    &--size-mdfull {
      @include max(md) {
        max-width: none;
      }
    }

    &--text-green {
      .choices {
        color: $persianGreen;
      }
    }
  }

  &__bottom {
    margin-top: 40px;

    &--mt {
      margin-top: 70px;
    }
  }

  &__checkbox {
    &--mt {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__send {
    //display: block;
    width: 100%;
    margin-top: 20px;
    padding: 18px 13px;
    text-transform: lowercase;
  }
}
