.mission {
	padding: 64px 0 59px;
	background-color: $dark;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		@include max(md) {
			margin: 0;
		}
	}

	&__left,
	&__right {
		display: flex;
		flex-direction: column;
		border: 4px solid $aliceBlue;
		margin: 0 15px;

		@include max(md) {
			margin: 0;
		}
	}

	&__left {
		width: calc(25% - 30px);
		padding: 31px 34px;

		@include max(lg) {
			width: calc(50% - 30px);
			padding: 20px;
		}

		@include max(md) {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__right {
		width: calc(75% - 30px);
		padding: 31px 46px;

		@include max(lg) {
			width: calc(50% - 30px);
			padding: 20px;
		}

		@include max(md) {
			width: 100%;
		}
	}

	&__more {
		margin-top: auto;
    color: $persianGreen;

    &:visited {
      color: $persianGreen;
    }

    @include hover {
      color: lighten($persianGreen, 5%);
    }

	}

	&__title {
		margin-bottom: 24px;

		&--white {
			color: $white;
			font-weight: 400;
		}
	}

	&__tag {
		display: block;
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
		color: $persianGreen;
		margin-top: auto;
		transition: color 0.3s ease;
	}
}