.news-card {
  $self: &;

  &--bordered {
    border-top: solid 10px $persianGreen;
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__date {
    margin-top: 8px;
    font-size: 12px;
    line-height: (14.52 / 12);
    font-weight: 500;
  }

  &__title {
    margin-top: 12px;
    line-height: (28 / 18);
  }

  &__text {
    margin-top: 2px;
    font-size: 16px;
    line-height: (24 / 16);
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;

    font-size: 18px;
    line-height: (22 / 18);
    color: $persianGreen;
    text-transform: lowercase;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;

    &:visited {
      color: $persianGreen;
    }

    @include hover {
      color: lighten($persianGreen, 5%);
    }
  }
}
