.person-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	@include max(xs) {
		margin: 0;
	}

	&__item {
		width: calc(25% - 30px);
		margin: 0 15px 30px;

		@include max(md) {
			width: calc(33.3333% - 30px);
		}

		@include max(sm) {
			width: calc(50% - 30px);
		}

		@include max(xs) {
			width: 100%;
			margin: 0 0 30px;
		}
	}
}