.button {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	padding: 13px;
	background-color: $persianGreen;
	border: 1px solid $persianGreen;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: $white;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 0.3s ease;

	@include max(sm) {
		padding: 8px 13px;
		font-size: 16px;
		line-height: 20px;
	}

	@include hover {
		background-color: rgba($persianGreen, 0.85);
    color: $white;
	}

  &:visited {
    color: $white;
  }

	svg {
		align-self: flex-end;
		width: 26px;
		height: 16px;
		fill: $white;
		margin-left: 10px;
		padding-bottom: 4px;
	}

	&--border {
		border-color: $white;
	}

  &--arrow-down {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    max-width: 370px;
    padding-left: 27px;
    padding-right: 17px;

    svg {
      transform: rotate(90deg);
      margin: 0;
      padding: 0;
      height: 19px;
      padding-right: 5px;
    }
  }

	&--white {
		background-color: $white;
		border-color: $persianGreen;
		color: $persianGreen;

    &:visited {
      color: $persianGreen;
    }

		@include hover {
			background-color: rgba($persianGreen, 0.05);
      color: $persianGreen;
		}

		svg {
			fill: $persianGreen;
		}
	}
}