.link-arrow {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	text-transform: lowercase;
	color: $persianGreen;

	@include max(sm) {
		font-size: 16px;
		line-height: 20px;
	}

	@include hover {
		svg {
			animation: link-arrow-hover 0.5s linear;
		}
	}

	svg {
		width: 47px;
		height: 16px;
		fill: $persianGreen;
		margin-left: 6px;
		position: relative;
		top: 3px;
	}

	&--long {
		text-transform: none;

		svg {
			width: 91px;
			height: 16px;
			margin-left: 11px;
		}
	}
}