html {
  font-size: $fs-main;
  line-height: $lh-main;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $mainFont;
  color: $textMainColor;

  main {
    flex-grow: 1;
  }
}

a {
  text-decoration: none;
}

input,
button,
select,
textarea {
  font-family: $mainFont;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
}

::-webkit-textfield-decoration-container {
}
::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Страница с компонентами */
.component-wrapper {
  padding: 40px 0;
  background-color: #fff;

  & + & {
    box-shadow: 0 -1px 0 0 #333;
  }
}

.page-template-contacts {
  .text-block {
    a:not(.socila-block-link) {
      color: inherit;
      transition: color 0.3s ease;
  
      @include hover {
        color: $persianGreen;
      }
    }
  }
}