.text-block {
  font-size: 18px;
  line-height: (32 / 18);

  h1 {
    //margin-bottom: 72px;
  }

  h2,
  &__title {
    font-weight: bold;
    font-size: inherit;

    @include max(md) {
      font-size: 14px;
    }

    &--green {
      color: $persianGreen;
    }
  }

  p,
  &__text {
    font-weight: normal;
    font-size: inherit;

    @include max(md) {
      font-size: 14px;
    }
  }

  ul {
    margin: 0 0 0 8px;
    padding: 0;
    list-style: inside;

    @include max(md) {
      font-size: 14px;
    }

    li {
      @include max(md) {
        font-size: 14px;
      }
    }
  }

  &--resume {
    font-size: 15px;
    line-height: 24px;

    h1 {
      margin-bottom: 26px;
    }
  }
}
