.text-block {
  padding-right: 10px;
  font-size: 18px;
  line-height: (32 / 18);

  h1 {
    margin-bottom: 72px;
  }

  h2,
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: inherit;

    @include max(md) {
      font-size: 14px;
    }

    &--green {
      color: $persianGreen;
    }
  }

  p,
  &__text {
    font-weight: normal;
    font-size: inherit;

    @include max(md) {
      font-size: 14px;
    }
  }
}
