extends ../layouts/default

block vars
  -
    const page = {
    title: 'Документы центра медиации',
    order: 16,
    isChild: true
    };

block main
  .inner-page 
    .inner-page__container.container
      h1.inner-page__title.title.title--green.title--upper= page.title 
      .inner-page__main.documents-page
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
        a.documents-page__item(href="#")
          span.documents-page-text КОДЕКС ЭТИКИ МЕДИАТОРОВ РСПП
          .documents-page-arrow
            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="35" height="35" viewBox="0 0 35 35" xml:space="preserve"><circle cx="17.5" cy="17.5" r="16.5" fill="#fff" stroke="#009a9d" stroke-width="2"/><path d="M16.8 27.2c.4.4 1 .4 1.4 0l6.4-6.4c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-5.7 5.7-5.7-5.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l6.4 6.4zm-.3-19.7v19h2v-19h-2z" fill="#009a9d"/></svg>
