extends ../layouts/default

block vars
	-
		const page = {
		title: 'Медиаторы главная',
		order: 9,
		isChild: true
		};



block main
	section.education-main
		.container
			+title('Обучение', 'h1', 'education-main__title title--upper title')
			.event-list
				+event-card('3', 'Длинное название программы обучения', '21 сентября 2021', 'education-main__item event-list__item', '#')
				+event-card('1', 'Длинное название программы обучения', '20 сентября 2021', 'education-main__item event-list__item', '#')
				+event-card('2', 'Название программы обучения', '20 сентября 2021', 'education-main__item event-card--big-image event-list__item', '#')
				+event-card('', 'Очень длинное название программы обучения, вариант без картинки', '07 сентября 2021   / старт обучения', 'education-main__item event-card--border-wide event-list__item', '#')
