extends ../layouts/default

block vars
	-
		const page = {
		title: 'Медиаторы главная',
		order: 9,
		isChild: true
		};



block main
	section.education-main
		.container
			+title('Обучение', 'h2', 'education-main__title title--upper')
			.event-list
				+event-card('1', 'Длинное название программы обучения', '21 сентября 2021', 'event-list__item', '#')
				+event-card('1', 'Длинное название программы обучения', '20 сентября 2021', 'event-list__item', '#')
				+event-card('2', 'Название программы обучения', '20 сентября 2021', 'event-card--big-image event-list__item', '#')
				+event-card('', 'Очень длинное название программы обучения, вариант без картинки', '07 сентября 2021   / старт обучения', 'event-card--border-wide event-list__item', '#')
