extends ../layouts/default

block vars
	-
		const page = {
			title: 'Разводящая'
		};

		const pages = [
			{url: 'components.html', text: 'Компоненты общие для нескольких страниц'},
			{url: 'news.html', text: 'Новости'},
			{url: 'single-news.html', text: 'Новость'},
			{url: 'application.html', text: 'Заявка на медиацию'},
			{url: 'about-mediation.html', text: 'О медиации'},
			{url: 'single-about-mediation.html', text: 'О медиации (описание)'},
			{url: 'home.html', text: 'Главная'},
			{url: 'mediators.html', text: 'Медиаторы главная (медиаторы)'},
			{url: 'experts.html', text: 'Медиаторы главная (эксперты)'},
			{url: 'partners.html', text: 'Медиаторы главная (партнеры)'},
			{url: 'resume.html', text: 'Медиатор резюме'},
			{url: 'education-main.html', text: 'Обучение главная'},
			{url: 'about-center.html', text: 'О центре'},
			{url: 'practicies.html', text: 'Практики главная'},
			{url: 'practicies-article.html', text: 'Практики статья'},
			{url: 'documents.html', text: 'Документы'},
			{url: 'contacts.html', text: 'Контакты'},
			{url: 'events-main.html', text: 'Мероприятия главная'},
			{url: 'partners-main.html', text: 'Партнеры главная'},
			{url: 'partner-page.html', text: 'Партнер'},
		];

block main
	.container
		h1 Страницы проекта

		ul
			each item, index in pages
				li 
					a(href= item.url)= (index + 1) + '. ' + item.text


