extends ../layouts/default

block vars
	-
		const page = {
		title: 'Медиаторы главная',
		order: 9,
		isChild: true
		};



block main
	section.mediators-main
		.container

			.mediators-main__block.__js_mediators-filter-3
				.mediators-main__left
					+title('МЕДИАТОРЫ ПАРТНЁРЫ', 'h2', 'mediators-main__title title--upper')
					.mediators-main__tabs
						.filter-item.mediators-main__tabs-item.all.active(data-filter='*') ВСЕ ПРАКТИКИ 
						.filter-item.mediators-main__tabs-item(data-filter='.__js_fmcg') FMCG
						.filter-item.mediators-main__tabs-item(data-filter='.__js_horeca') HoReCa
						.filter-item.mediators-main__tabs-item(data-filter='.__js_estate') Недвижимость
						.filter-item.mediators-main__tabs-item(data-filter='.__js_banks') Банки и страхование
						.filter-item.mediators-main__tabs-item(data-filter='.__js_administrative') Административная
					.mediators-main__note Медиаторы Центра медиации при РСПП всегда рады сотрудничать с медиаторами других площадок,
						|  не входящими в наш список медиаторов. По согласованию со сторонами спора мы можем работать в ко-медиации с нашими партнёрами,
						|  если они обладают какими-либо специфическими компетенциями.
				.mediators-main__right
					.person-list
						+person-card('1', 'Имя <br> Фамилия', 'Руководитель <br> Центра Медиации при РСПП, <br> юрист, психолог, коуч, медиатор', 'mediators-main__person person-card--small person-list__item')
						+person-card('2', 'Имя <br> Фамилия', 'Руководитель практики <br> «Медиация в сфере ритейла <br> и FMCG», медиатор, независимый директор', 'mediators-main__person person-card--small person-list__item')
						+person-card('3', 'Имя <br> Фамилия', 'Медиатор', 'mediators-main__person person-card--small person-list__item')
						+person-card('1', 'Имя <br> Фамилия', 'Руководитель <br> Центра Медиации при РСПП, <br> юрист, психолог, коуч, медиатор', 'mediators-main__person person-card--small person-list__item')
						+person-card('2', 'Имя <br> Фамилия', 'Руководитель практики <br> «Медиация в сфере ритейла <br> и FMCG», медиатор, независимый директор', 'mediators-main__person person-card--small person-list__item')
						+person-card('3', 'Имя <br> Фамилия', 'Медиатор', 'mediators-main__person person-card--small person-list__item')
