extends ../layouts/default

block vars
  -
    const page = {
    title: 'Практики главная',
    };

    const practiciesArticlesLeft = [
      {title: 'МЕДИАЦИЯ В&nbsp;СФЕРЕ&nbsp;РИТЕЙЛА И&nbsp;FMCG', text: 'В Центр медиации при РСПП может обратиться любой участник рынка ритейла и FMCG: производитель, дистрибьютор, торговая сеть, потребитель, отраслевые ассоциации и союзы (АКОРТ, АКИТ, РусПродСоюз, Рыбный союз, РусБренд и др.), логистические компании, склады, арендодатели, гос. органы.'},
      {title: 'МЕДИАЦИЯ В&nbsp;СФЕРЕ&nbsp;HoReCa И&nbsp;ТУРИЗМА', text: 'В Центр медиации при РСПП может обратиться любой участник рынка HoReCa и туризма, отраслевые ассоциации и союзы.'},
      {title: 'МЕДИАЦИЯ В СФЕРЕ КОРПОРАТИВНЫХ КОНФЛИКТОВ', text: 'В Центр медиации при РСПП может обратиться любая компания вне зависимости от корпоративной и организационной структуры, отрасли экономики, членства в союзах и ассоциациях. Также обратиться могут непосредственные участники конфликта: основатели, директор, руководитель направления или рядовой сотрудник.'},
      {title: 'МЕДИАЦИЯ В СФЕРЕ НЕСОСТОЯТЕЛЬНОСТИ/БАНКРОТСТВА ', text: 'Медиация в сфере несостоятельности/банкротства не означает внесудебный порядок рассмотрения всего дела о банкротстве. Предметом медиации и переговорного посредничества является, зарождающийся или сформировавшийся конфликт, который становится препятствием, мешающим в полное мере реализовать созидательный потенциал института банкротства.'},
    ];

    const practiciesArticlesRight = [
      {title: 'МЕДИАЦИЯ В СФЕРЕ БАНКОВСКОЙ И&nbsp;СТРАХОВОЙ ДЕЯТЕЛЬНОСТИ', text: 'В Центр медиации при РСПП может обратиться любой участник банковского и страхового рынка: кредитная или страховая организация, клиент банка, отраслевые ассоциации и союзы, органы государственной власти.'},
      {title: 'МЕДИАЦИЯ В СФЕРЕ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ И&nbsp;КРЕАТИВНЫХ ИНДУСТРИЙ', text: 'В Центр медиации при РСПП может обратиться любое лицо вне зависимости от корпоративной и организационной структуры, отрасли экономики, членства в союзах и ассоциациях. Это могут быть как непосредственные участники конфликта, так и те, чьи интересы потенциальный конфликт может затронуть в будущем: бенефициары, учредители, собственники, руководители, сотрудники, партнеры, потребители товаров, работ, услуг.'},
      {title: 'МЕДИАЦИЯ В СФЕРЕ НЕДВИЖИМОСТИ И&nbsp;СТРОИТЕЛЬСТВА', text: 'В Центр медиации при РСПП может обратиться любой участник рынка недвижимости и строительства: девелопер, застройщик, подрядчик, поставщик материалов или услуг, собственник коммерческой недвижимости, арендатор, отраслевые ассоциации и союзы, гос. органы.'},
      {title: 'АДМИНИСТРАТИВНАЯ МЕДИАЦИЯ', text: 'В Центр медиации при РСПП может обратиться любой участник административных и иных публичных правоотношений: организации, индивидуальные предприниматели, отраслевые ассоциации и союзы, органы государственной власти, органы местного самоуправления.'},
    ];

block main
  section.practicies 
    .container
      .practicies-heading.practicies__heading
        +title('Практики', 'h1', 'practicies-heading__title title--upper')
      
      .practicies-text.text-block.practicies__text
        p Профессиональная бизнес-медиация возможна исключительно тогда, когда медиатор разбирается в специфике того бизнеса, в котором он помогает разрешать конфликты. Да, он не должен быть экспертом и он не даёт рекомендаций. Но медиатор должен знать, какие правильные вопросы задать, чтобы расширить восприятие конфликта и путей его разрешения сторонами, а не работать только с позициями сторон (подчас тупиковыми).
        br
        p Именно поэтому работа нашего Центра медиации при РСПП выстроена через объединение медиаторов в отраслевые практики. Каждую практику возглавляет руководитель практики, а в команду практики входят медиаторы из всех территориальных отделений нашего Центра медиации, которым интересно развиваться именно в этой сфере бизнеса.
        br
        p Каждая практика проводит внутреннее обучение медиаторов специфике бизнес-конфликтов в своей сфере, привлекает к работе практики экспертов, создаёт отраслевые экспертные советы с участием представителей бизнес-сообщества.

      .practicies-wrapper
        .practicies-wrapper__section.practicies-wrapper__section--left
          each item in practiciesArticlesLeft
            .practicies-wrapper__card  
              +practicies-card(item.title, item.text)

        .practicies-wrapper__section.practicies-wrapper__section--right
          each item in practiciesArticlesRight
            .practicies-wrapper__card  
              +practicies-card(item.title, item.text)
    