extends ../layouts/default

block vars
  -
    const page = {
    title: 'МЕДИАЦИЯ В СФЕРЕ РИТЕЙЛА И FMCG',
    };

block main
  section.practicies.practicies-article
    .container
      .practicies-heading.practicies__heading.practicies__heading--article
        +title('Практики', 'h1', 'practicies-heading__title title--upper')
      
      .practicies-wrapper
        .practicies-wrapper__section.practicies-wrapper__section--left
          .practicies-article__heading
            +title('МЕДИАЦИЯ В&nbsp;СФЕРЕ&nbsp;РИТЕЙЛА И&nbsp;FMCG', 'h2', 'practicies__article-title practicies-article__heading-title title--upper')

          .person-card.practicies-article-author.practicies-article__author
            .practicies-article-author__info
              img(src="images/personal/1.jpg", srcset="images/personal/1@2x.jpg 2x", alt="Анна сорокина. Руководитель практики «Медиация в сфере ритейла и FMCG»").practicies-article-author__info-photo

              .practicies-article-author__info-description
                .person-card__name.practicies-article-author__info-name
                  | Анна сорокина
                
                .person-card__text.practicies-article-author__info-text.text-block
                  p <strong>Руководитель практики «Медиация в сфере ритейла и FMCG»</strong>
                  br
                  p Руководитель Центра медиации при РСПП, юрист, психолог, коуч, медиатор, тренер медиаторов
                  br
                  p Москва, Московская область

            .practicies-article-author__buttons
              a(href="#").button.practicies-article-author__buttons-item.practicies-article-author__buttons-item--primary
                | отраслевой
                br
                | экспертный совет
              a(href="#").button.practicies-article-author__buttons-item.practicies-article-author__buttons-item--secondary
                | медиаторы практики
              a(href="#").button.practicies-article-author__buttons-item.practicies-article-author__buttons-item--secondary
                | эксперты практики


        .practicies-wrapper__section.practicies-wrapper__section--right
          .practicies-article-author__text.text-block
            p <strong>Медиаторы практики “Медиация в сфере ритейла и FMCG” помогают участникам этого рынка проводить эффективные переговоры, договариваться и разрешать конфликты на максимально взаимовыгодных условиях с учётом существующего бизнес-контекста.</strong>
            br
            p <strong>В Центр медиации при РСПП может обратиться любой участник рынка ритейла и FMCG: производитель, дистрибьютор, торговая сеть, потребитель, отраслевые ассоциации и союзы (АКОРТ, АКИТ, РусПродСоюз, Рыбный союз, РусБренд и др.), логистические компании, склады, арендодатели, гос. органы.</strong>
            br
            p Наши медиаторы помогают эффективно достигать договорённостей через: 
            br
            h2
              span(style="color: #009a9d;") РАСШИРЕНИЕ ВАРИАТИВНОСТИ
            p (например, через совместное прогнозирование конъюнктуры рынка, динамическое ценообразование (в том числе по регионам и категориям товаров), совместное развитие категории товаров, инвестиции сети в поставщика (в т.ч. через СТМ, гарантированные закупки, партнёрские стратегии позиционирования и пр.), иные (чем цена) условия поставки (РЦ/магазины, изменение состава, упаковки и пр.).
            br
            h2
              span(style="color: #009a9d;") ВЗАИМОДЕЙСТВИЕ ПРОЕКТНЫХ КОМАНД
            p Медиаторы для повышения эффективности переговорного процесса или разрешения конфликта могут создавать межфункциональные проектные команды сторон, состоящие, например, из коммерческого директора (ЛПР), категорийного менеджера, закупщика, логиста, GR, юриста, маркетолога.
            p По согласованию со сторонами медиаторы практики “Медиация в сфере ритейла и FMCG” могут привлекать к своей работе экспертов практики для более детального учёта бизнес-контекста.
            br
            p В целях развития медиации на рынке ритейла и FMCG 1 марта 2021 Центр медиации при РСПП и Центр развития потребительского рынка СКОЛКОВО заключили соглашение о сотрудничестве. Именно в рамках реализации этого соглашения при этой практике создан отраслевой экспертный совет, в который вошли ведущие игроки рынка ритейла и FMCG. 
            br
            p Бизнес-партнёрами этой практики также являются: Ассоциация компаний розничной торговли (АКОРТ), ООО “МЕТРО Кэш энд Керри”, ООО “Бондюэль-Кубань”, ООО “Альянс Региональных Ритейлеров”, Союз предприятий, осуществляющих деятельность в сфере рыбного хозяйства и аквакультуры “Рыбный союз”, Ассоциация производителей и поставщиков продовольственных товаров “РусПродСоюз”.


