extends ../layouts/default

block vars
	-
		const page = {
		title: 'Медиаторы главная',
		order: 9,
		isChild: true
		};



block main
	section.resume
		.container.resume__container
			.resume__photo
				img(src='images/resume.jpg', srcset='images/resume@2x.jpg 2x', alt='')
			.resume__content.text-block.text-block--resume
				.resume__content-heading.resume-heading
					+title('Анна Сорокина', 'h1', 'resume__name title--green')

					p.resume-heading__description
						| Руководитель Центра медиации при РСПП Юрист, психолог, коуч, медиатор

					span.resume-heading__city
						| Москва

				h2
					span(style="color: #009a9d;") ОБРАЗОВАНИЕ
				br
				ul
					li МГУ им. М.В. Ломоносова, юридический факультет // Юрист
					li Московский институт психоанализа, Психология // Психолог

				br
				br
				h2
					span(style="color: #009a9d;") ПОВЫШЕНИЕ КВАЛИФИКАЦИИ
				br
				ul
					li НОУ ДПО Институт психотерапии и клинической психологии,   Проф. переподготовка, Психология бизнеса, Коучинг // Коуч
					li Московский институт психоанализа, Повышение квалификации,   курс «Профессия Бизнес-тренер» // Бизнес-тренер
					li Самарская Гуманитарная Академия, Повышение квалификации, Медиация. Базовый курс // Медиатор
					li Самарская Гуманитарная Академия, Повышение квалификации, Медиация.   Курс подготовки тренеров медиаторов // Тренер медиаторов								

				br
				br
				h2
					span(style="color: #009a9d;") ОПЫТ РАБОТЫ
				br
				ul
					li Руководитель Центра медиации при РСПП
					li Основатель и генеральный директор Soft Skills Law Academy
					li Глава практики внесудебного разрешения споров юридической компании «Гриц и партнёры» в 2020 году,
						|  реализация проекта #МыСВамиЗаодно (бесплатной медиативной помощи арендаторам по разрешению конфликтов
						|  с арендодателями в период кризиса COVID-19 первой волны, март-май 2020 года)
					li 14-летний стаж работы по юридической специальности, из которых 12 лет в международной юридической компании Noerr
					li Председатель Комиссии по высшему юридическому образованию Московского отделения Ассоциации юристов России
					li Автор и координатор программы обучения бизнес-медиаторов и тренеров по медиации, реализуемой совместно с НИУ ВШЭ
					li Преподаватель курса «Практические навыки работы юриста» Юридического института «М-Логос»
					li Автор и преподаватель видеокурса «Soft Skills for Lawyers: гибкие навыки юриста», размещённого на платформе «Универсариум»
					li Соавтор и соредактор книги «Навыки современного юриста: soft skills, повышающие эффективность
						|  и качество жизни» / Под ред. А. Сорокиной и Д. Грица. – Москва: Статут, 2021. – 460 стр.
