extends ../layouts/default

block vars
  -
    const page = {
      title: 'О медиации',
      order: 8
    };

    const textBlockContent = [{title: 'конфиденциальность процедуры', text: 'Медиатор не вправе распространять информацию, доведенную до него сторонами и иными участниками процедуры медиации и ставшую ему известной при подготовке к процедуре медиации, как в ходе самой процедуры, так и в связи с ее проведением.'}, {title: 'нейтральность медиатора', text: 'Медиатор при проведении процедуры медиации всегда должен занимать нейтральную позицию по отношению к сторонам конфликта (спора) и стремиться к недопущению предвзятого и пристрастного отношения к какой-либо из сторон. Нейтральность медиатора также означает, что он руководствуется принципом, что каждый из участников процедуры медиации прав со своей субъективной позиции.'}, {title: 'добровольность участия сторон', text: 'Стороны и медиатор участвуют в процедуре медиации по доброй воле. Они могут в любой момент выйти из процедуры, если посчитают, что она не способствует разрешению спора или одна из сторон пришла в медиацию с другими целями (а не договариваться).'}, {title: 'равноправие сторон', text: 'Медиатор должен обеспечить в процедуре медиации равноправие сторон посредством равной степени их признания, уважения, поддержки и одобрения, создавать равные условия и возможности участия в процедуре как при высказывании позиций, пожеланий, эмоций, так и при подготовке совместного решения.'}];

block main
  .inner-page.inner-page--about-mediation.about-mediation
    .inner-page__container.container
      h1.inner-page__title.title.title--green.title--upper= page.title
 
      .inner-page__main
        +title('медиация и её преимущества', 'h2', 'about-mediation__title title--upper title--bold title--dark')
        p.about-mediation__text Медиация (лат. «mediare» - посредничать) – это способ урегулирования споров при содействии профессионального нейтрального посредника (медиатора) на основе добровольного согласия сторон в целях достижения ими взаимоприемлемого решения.
        +arrow-link('Основные отличия медиации от судебного разбирательства', 'arrow-link--large-arrow arrow-link--tt-none about-card__arrow-link arrow-link--bold')
        ul.about-mediation__list В основе медиации лежат 4 принципа:
          each block in textBlockContent
            li.about-mediation__list-item
              .text-block.about-mediation__text-block
                h3.text-block__title.text-block__title--green= block.title 
                p.text-block__text= block.text
