/* media */
$media-list: (
  "xxs": 375,
  "xs": 560,
  "sm": 767,
  "md": 1079,
  "lg": 1199,
  "xl": 1599,
  "xxl": 1900,
);

/* шрифты */
$mainFont: "Inter", "Arial", sans-serif;
$fs-main: 18px;
$lh-main: (32 / 18);

/* цвета */
$white: #ffffff;
$smoky: #f9f9f9;
$dark: #3c4c54;
$persianGreen: #009a9d;
$aliceBlue: #e6f4fa;
$grey: #e5e5e5;

$textMainColor: $dark;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
